body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #43119a;
}

[v-text] {
  display: none;
}

.circle {
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}

#countdown {
  display: inline-block;
  position: relative;
}

#countdown span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 80px;
  font-family: monospace;
  color: #f36f21;
}
