.post {
  display: flex;
  flex-direction: row;
  padding: 2em;
  border-bottom: 1px solid #eee;
}

.post .thumbnail img {
  border-radius: 100%;
  display: block;
  width: 100%;
  height: auto;
}

.post .thumbnail {
  flex: 0 1 200px;
  min-width: 100px;
}

.content {
  display: flex;
  flex-direction: column;
  margin-left: 1.2em;
  flex: 1 1 auto;
}

.content h4 {
  font-weight: bold;
}

.content .excerpt {
  font-size: .8em;
  color: #666;
}